//================================================
//=            Theme Variables / Mixins          =
//================================================

  // color variables
@theme-blue: #455b70;
@theme-light-blue: #9bb1c2;
@theme-yellow: #a38b48;
@theme-grey: #636466;
@theme-white: #dcddde;

  // font mixins
.font-helvetica {
  font-family: 'Helvetica Neue', Helvetica, Arial;
}
.font-futura {
  font-family: 'Futura', Arial, Sans-Serif;
  }

.font-bodoni {
  font-family: 'Bodoni SvtyTwo OS ITC TT', Serif;
  text-transform: uppercase;
}

.font-minion-pro {
  font-family: 'Minion Pro', Serif;
}

.fonts-navigation(@color: @theme-white; @size: 12px) {
  color: @color;
  .font-futura;
  font-size: @size;
  text-transform: uppercase;

  &.small {
    font-size: @size - 1;
  }
}

.fonts-headline(@color: @theme-blue; @size: 30px) {
  .font-bodoni;
  font-size: @size;
  line-height: @size;
  color: @color;
}

.fonts-body(@color: @theme-grey; @size: 14px; @line-height: 22px;) {
  color: @color;
  .font-helvetica;
  font-size: @size;
  line-height: @line-height;
}

.font-resize(@size) {
  font-size: @size;
  line-height: @size;
}

  // buttons

.buttons-default {
  background: @theme-light-blue;
  border-radius: 0;

  color: @theme-white;
  .font-bodoni;
  font-size: 20px;

  &:hover {
    color: @theme-white;
  }
}




//-----  End of Theme Variables / Mixins  ------

//======================================
//=            Theme Stylings          =
//======================================

/*==========  defaults  ==========*/

body {
  background: @theme-blue;
  .fonts-body();
}

.container-fluid {
  max-width: 1024px;
  margin: 0 auto;
  background: @theme-white;
}

.btn-theme {
  .buttons-default;
}

a {
  color: inherit;
  text-decoration: underline;
  &:hover {
    color: @theme-blue;
  }
}

strong.bodoni {
  .font-bodoni;
  font-weight: normal;
  color: @theme-blue;
}


/*==========  body content  ==========*/



// intro's & tabs

.intro, .tabs {
  padding: 22px 0 44px;

  .tab {
    margin-bottom: 42px;

    ul {
      width: 100%;
      list-style-type: disc;

      li {
        display: inline-block;
        box-sizing: border-box;
        width: 40%;

        &:before {
          display: inline-block;
          content: "●";
          margin: 0 5px 0 0;

        }
      }
     }
  }


  .headline {

    h2 {
      .fonts-headline();
      text-align: center;
      padding: 20px 0 0;
      margin: 0;
    }
  }



  .copy {
    border-left: 2px solid @theme-yellow;
    p {
      padding: 0 45px 0 30px;
    }
  }

}

// tabs only
.tabs {
  .headline {
    h2 {
      .services & {
        .font-resize(20px);
      }

      .contact & {
        .font-resize(26px);
      }
    }
  }
}






.cards {
  .card {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 15px;

    &.active,
    &.home:hover {
      .front {
        display: none;
      }

      .reverse {
        display: block;

      }
    }

  }

  .front {
    display: block;
    height: 226px;
    padding: 20px;
    background: @theme-blue;

    color: @theme-white;
    .font-minion-pro;
    font-size: 14px;
    line-height: 24px;

    .icon {
      // margin-bottom: 24px;
    }

    // services page
    .services & {
      font-size: 18px;
      text-transform: uppercase;

      h2 {
        font-size: 18px;
        margin: 0;
      }

    }

  }

  .reverse {
    display: none;
    position: relative;
    top: auto;
    left: auto;
    box-sizing: border-box;
    height: 226px;
    max-width: 100%;
    padding: 20px;
    background: @theme-yellow;
    overflow: hidden;
    // -webkit-transform: rotateY(-180deg);
    //    -moz-transform: rotateY(-180deg);
    //     -ms-transform: rotateY(-180deg);
    //      -o-transform: rotateY(-180deg);
    //         transform: rotateY(-180deg);

    h2 {
      display: block;
      margin: 0 0 15px;
      padding: 0 0 10px;
      border-bottom: 2px solid @theme-white;
      .font-bodoni;
      color: @theme-white;
      font-size: 18px;

    }

    p {
      color: @theme-white;
      .font-minion-pro;
      font-size: 14px;
    }
  }

}

.ctas {
  margin: 50px 0 60px;

  .cta {

    .headline {


      h3 {
        padding-bottom: 10px;
        .fonts-headline;
        border-bottom: 2px solid @theme-yellow;

      }
    }

    .copy {
      .fonts-body();
      padding: 20px 28px;
    }

  }

}


/*==========  header  ==========*/

#header {
  display: block;
  position: relative;
  padding: 37px 0 0;
  background: @theme-blue;

  // logo container
  .logo-container {
    display: block;
    box-sizing: border-box;
    padding-left: 15px;
    border-bottom: 2px solid @theme-yellow;

    .logo {
      display: block;
      position: relative;
      top: 7px;

      border: none;
  
    }
  }

  // navigation
  .navigation {
    .col-sm-2 {

      &:hover {
        background: @theme-yellow;
      }

      &.dropdown {
        position: relative;

        ul {
          display: none;
          position: absolute;
          top: 57px;
          left: 0;
          z-index: 99;
          width: 100%;
          margin: 0;
          padding: 0;
          list-style-type: none;


          background: @theme-yellow;
          text-align: center;


          a {
            font-size: 11px;
            &:hover {
              background: @theme-blue;
            }
          }
        }



        &:hover {
          ul {
            display: block;
          }
        }


      }


    }



    a {
      display: block;
      width:100%;
      box-sizing: border-box;
      padding: 16px 0 19px;
      background: none;

      .fonts-navigation();
      text-align: center;
      text-decoration: none;


      &:hover {
        background: @theme-yellow;
      }

    }
  }

}

/*==========  faqs  ==========*/

.faqs {
  margin: 40px 0;

  h2 {
    display: block;
    width: 100%;
    border-bottom: 2px solid @theme-yellow;
    color: @theme-blue;
    .font-bodoni;
    font-size:  26px;

  }

  p {
    margin: 0 0 40px;
  }

}


/*==========  footer  ==========*/

#footer {
  display: block;
  position: relative;
  // margin-top: 60px;
  padding: 10px 0;
  background: @theme-blue;

  .container {

    border-bottom: 2px solid @theme-yellow;

    .copyright {
      display: inline-block;
      position: relative;
      top: 10px;
      padding: 0 4px;
      background: @theme-blue;
      color: @theme-white;
      .font-futura;
      font-size: 11px;
      text-transform: uppercase;

    }
  }

}

.address-bar {
  padding-bottom: 28px;
  background: @theme-blue;
  color: @theme-white;

  small {
    font-size: 60%;
  }
}




//-----  End of Theme Stylings  ------


/*=====================================
=            media queries            =
=====================================*/

@media screen and (max-width: 767px) {
  .container-fluid {
    max-width: 100%;

    #header {


      .logo-container {
        border: none;
        padding-bottom: 37px;

        a {
          img {
            max-width: 90%;
            height: auto;
          }
        }
        .logo {
          display: inline-block;
        }
      }

      .navbar-toggle {
        display: inline-block;


        .icon-bar {
          background: @theme-white;
        }
      }

      .navigation {
        display: none;

        .col-sm-2:hover,
        .col-sm-2 a:hover {
          background: @theme-blue;
        }

        a {
          font-size: 115%;
        }

        .dropdown {
          ul {
            position: relative;
            top: auto;
            left: auto;

          }

          &:hover {
            ul { display:none; }
          }
        }
      }
    }

    #footer {
      .text-right {
        text-align: center !important;

        .copyright {
          font-size: 10px;
        }
      }
    }

    .address-bar {
      .text-right {
        text-align: center;
        small {
          font-size: 10px;
        }
      }
    }

    .intro,
    .tabs {
      .headline {
        h2 {
          text-align: left;
        }
      }
    }

  }


}



/*-----  End of media queries  ------*/


