#footer.row
  .col-xs-12.container.text-right
    .copyright &copy;2014 Independent Lifestyle Solutions
.row.address-bar
  .col-xs-12.text-right
    small 216.469.3041 | 68 Ravenna Street #1414 | Hudson, OH 44236